table {
    border-collapse: collapse;
}

tr {
    text-align: center;
    border: 1px solid black;
}

.up {
    color: darkgreen;
    background-color: #00FF00;
}

.down {
    color: darkred;
    background-color: #FF0000;
}

.nochange {
    color: darkblue;
    background-color: #00FFFF;
}